Model/Schema/EIVO/A0101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:include schemaLocation="DescriptionType.xsd"/>
    <!--開立發票：A0101-->
    <xsd:element name="Invoice">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Main" type="MainType"/>
                <xsd:element name="Details" type="DetailsType"/>
                <xsd:element name="Amount" type="AmountType"/>
            </xsd:sequence>
            <!--版本屬性-->
            <xsd:attribute ref="XSDVersion"/>
        </xsd:complexType>
    </xsd:element>
    <!--檔頭資料-->
    <xsd:complexType name="MainType">
        <xsd:sequence>
            <!--發票號碼-->
            <xsd:element name="InvoiceNumber" type="InvoiceNumberType"/>
            <!--發票日期-->
            <xsd:element name="InvoiceDate" type="DateType"/>
            <!--發票時間-->
            <xsd:element name="InvoiceTime" type="TimeType" minOccurs="0"/>
            <!--賣方資訊-->
            <xsd:element name="Seller">
                <xsd:complexType mixed="false">
                    <xsd:group ref="RoleDescriptionType"/>
                </xsd:complexType>
            </xsd:element>
            <!--買方資訊-->
            <xsd:element name="Buyer">
                <xsd:complexType mixed="false">
                    <xsd:group ref="RoleDescriptionType"/>
                </xsd:complexType>
            </xsd:element>
            <!--發票檢查碼-->
            <xsd:element name="CheckNumber" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--買受人註記欄-->
            <xsd:element name="BuyerRemark" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                        <xsd:pattern value="[1-4]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--總備註-->
            <xsd:element name="MainRemark" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--通關方式註記-->
            <xsd:element name="CustomsClearanceMark" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                        <xsd:pattern value="[1-2]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--稅捐稽徵處名稱-->
            <xsd:element name="TaxCenter">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--核准日-->
            <xsd:element name="PermitDate">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                        <xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--核准文-->
            <xsd:element name="PermitWord">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--核准號-->
            <xsd:element name="PermitNumber">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--沖帳別-->
            <xsd:element name="Category" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--相關號碼-->
            <xsd:element name="RelateNumber" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--發票類別-->
            <xsd:element name="InvoiceType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                        <xsd:pattern value="0[1-6]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--彙開註記-->
            <xsd:element name="GroupMark" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--捐贈註記-->
            <xsd:element name="DonateMark">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                        <xsd:pattern value="[0-1]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--明細資料-->
    <xsd:complexType name="DetailsType">
        <xsd:sequence>
            <xsd:element name="ProductItem" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <!--品名-->
                        <xsd:element name="Description">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="256"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <!--數量-->
                        <xsd:element name="Quantity" type="xsd:decimal"/>
                        <!--單位-->
                        <xsd:element name="Unit" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="6"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <!--單價-->
                        <xsd:element name="UnitPrice" type="xsd:decimal"/>
                        <!--金額-->
                        <xsd:element name="Amount" type="xsd:decimal"/>
                        <!--明細排列序號-->
                        <xsd:element name="SequenceNumber">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <!--項次-->
                        <xsd:element name="Item" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="6"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <!--單一欄位備註-->
                        <xsd:element name="Remark" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <!--相關號碼-->
                        <xsd:element name="RelateNumber" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="20"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--彙總資料-->
    <xsd:complexType name="AmountType">
        <xsd:sequence>
            <!--銷售額合計(新台幣)-->
            <xsd:element name="SalesAmount" type="xsd:int"/>
            <!--課稅別-->
            <xsd:element name="TaxType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                        <xsd:pattern value="[1-3]"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <!--稅率-->
            <xsd:element name="TaxRate" type="xsd:float"/>
            <!--營業稅額-->
            <xsd:element name="TaxAmount" type="xsd:long"/>
            <!--總計-->
            <xsd:element name="TotalAmount" type="xsd:long"/>
            <!--扣抵金額-->
            <xsd:element name="DiscountAmount" type="xsd:long" minOccurs="0"/>
            <!--原幣金額-->
            <xsd:element name="OriginalCurrencyAmount" type="xsd:decimal" minOccurs="0"/>
            <!--匯率-->
            <xsd:element name="ExchangeRate" type="xsd:float" minOccurs="0"/>
            <!--幣別-->
            <xsd:element name="Currency" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
