Model/Schema/EIVO/B2CWelfareAgency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SocialWelfareAgenciesRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompanyBan" type="xs:string"/>
        <xs:element name="SocialWelfareAgencies" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string"  />
              <xs:element name="Ban" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="TEL" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>