OLD_NET40/Main/Model/Schema/TXN/Exchange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../EIVO/GoogleResponse.xsd"/>
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UXB2B" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="Request" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="actionName" type="xs:string" use="optional" />
                        <xs:attribute name="periodicalInterval" type="xs:int" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="Response" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceNo">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Description" type="xs:string" use="optional" />
                                            <xs:attribute name="ItemIndex" type="xs:int" use="optional" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Invoice" minOccurs="0" maxOccurs="unbounded"></xs:element>
                            <xs:element name="CancelInvoice" minOccurs="0" maxOccurs="unbounded"></xs:element>
                            <xs:element name="RejectInvoice" minOccurs="0" maxOccurs="unbounded"></xs:element>
                            <xs:element name="Allowance" minOccurs="0" maxOccurs="unbounded"></xs:element>
                            <xs:element name="CancelAllowance" minOccurs="0" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Result" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="value" type="xs:int" />
                            <xs:element name="message" type="xs:string" />
                            <xs:element name="timeStamp" type="xs:dateTime" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="Automation" minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>