OLD_NET40/Uxnet/Uxnet.Com/Web References/WS_MessageService/SendMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.uxb2b.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.uxb2b.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.uxb2b.com/">
      <s:element name="SendMailMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailTo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="mailFile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cleanUp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMailMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailMessage" />
  </wsdl:message>
  <wsdl:message name="SendMailMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="SendMessageSoap">
    <wsdl:operation name="SendMailMessage">
      <wsdl:input message="tns:SendMailMessageSoapIn" />
      <wsdl:output message="tns:SendMailMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMessageSoap" type="tns:SendMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailMessage">
      <soap:operation soapAction="http://www.uxb2b.com/SendMailMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMessageSoap12" type="tns:SendMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailMessage">
      <soap12:operation soapAction="http://www.uxb2b.com/SendMailMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMessage">
    <wsdl:port name="SendMessageSoap" binding="tns:SendMessageSoap">
      <soap:address location="http://tpit-matrix/CDSAR/published/SendMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMessageSoap12" binding="tns:SendMessageSoap12">
      <soap12:address location="http://tpit-matrix/CDSAR/published/SendMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>