OLD_NET40/Main/Model/Schema/EIVO/B2BReceiptCancellation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CancelReceiptRoot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CancelReceipt" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CancelReceiptNumber" type="xs:string" />
                            <xs:element name="ReceiptDate" type="xs:string" />
                            <xs:element name="BuyerId" type="xs:string" />
                            <xs:element name="SellerId" type="xs:string" />
                            <xs:element name="CancelDate" type="xs:string" />
                            <xs:element name="CancelTime" type="xs:string" />
                            <xs:element name="Remark" type="xs:string" nillable="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>