OLD_NET40/Main/Model/Schema/EIVO/InvoiceEnterprise.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="InvoiceEnterpriseRoot">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="InvoiceEnterprise">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SellerId" type="xs:string" />
                            <xs:element name="SellerName"  type="xs:string"/>
                            <xs:element name="Address" type="xs:string" />
                            <xs:element name="TEL" type="xs:string" />
                            <xs:element name="Email" type="xs:string" />
                            <xs:element name="ContactName" type="xs:string" />
                            <xs:element name="ContactPhone" type="xs:string" />
                            <xs:element name="ContactMobilePhone"  type="xs:string"/>
                            <xs:element name="UndertakerName" type="xs:string" />
                            <xs:element name="InvoiceType" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>