OLD_NET40/Uxnet/Uxnet.Com/Web References/WS_DocumentService/DocumentCreator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.uxb2b.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.uxb2b.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.uxb2b.com/">
      <s:element name="CreatePdfFromUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePdfFromUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePdfFromUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePdfFromUrlSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePdfFromUrl" />
  </wsdl:message>
  <wsdl:message name="CreatePdfFromUrlSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePdfFromUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentCreatorSoap">
    <wsdl:operation name="CreatePdfFromUrl">
      <wsdl:input message="tns:CreatePdfFromUrlSoapIn" />
      <wsdl:output message="tns:CreatePdfFromUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentCreatorSoap" type="tns:DocumentCreatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePdfFromUrl">
      <soap:operation soapAction="http://www.uxb2b.com/CreatePdfFromUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentCreatorSoap12" type="tns:DocumentCreatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePdfFromUrl">
      <soap12:operation soapAction="http://www.uxb2b.com/CreatePdfFromUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentCreator">
    <wsdl:port name="DocumentCreatorSoap" binding="tns:DocumentCreatorSoap">
      <soap:address location="http://hinet01:8880/DocumentService/DocumentCreator.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentCreatorSoap12" binding="tns:DocumentCreatorSoap12">
      <soap12:address location="http://hinet01:8880/DocumentService/DocumentCreator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>